body {
  max-width: 900px
}

.rickClass {
  border: thick lightblue solid;
  margin: 10px;
  border-radius: 80px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.mortyClass {
  border: thick #915334 solid;
  margin: 10px;
  border-radius: 40px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto;
  align-items: center;
}


div {
  width: auto;
  height: auto;
}