body {
  max-width: 900px
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: thin red solid;
  height: 50px;
  justify-content: center;
  width: 20%;
  margin: auto;
  align-items: center;
}

.button {
  border: thin solid black;
  height: 20px;
  width: 20px;

}

.less {
  float: left;

}

.more {
  float: right;

}

.qtyOfFacts{
  height: 30px;
  width: 20%;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  margin: auto;
  
}