body {
  background-color: black;
  max-width: 900px;
  font-family: sans-serif;
}

.primaryContainer {
  position: fixed;
  top: 5%;
  left: 50%;
  margin-top: -50px;
  margin-left: -400px;
}

.catHead {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:auto;
  border: thick black solid;
  min-width: 675px;
  background-color: black;
}

.leftEye {
  transform: scaleX(-1);     /* This flips the eye on the horizontal */
}

.rightEye {

}
  

.interactives-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto;
  align-items: center;
/*  border: thin green solid; */
}

h1 {
  text-align: center;
}

h3 {
  font-weight: bold;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
/*  border: thin blue solid; */
  height: 50px;
  justify-content: center;
  width: 20%;
  margin: auto;
  align-items: center;
  min-width: 150px;
}

.less {
  float: left;
  clear: left;
  font-size: 20px;
}

.more {
  float: right;
  clear: right;
  font-size: 20px;
}

.btnGetFacts {
  font-size: 16px;
  color: whitesmoke;
}

.qtyOfFacts{
  color: rgb(221, 103, 60);
  height: 40px;
  width: 20%;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 24px;
  }

div {
  /*border: thin pink solid;  */
  margin: 10px;
}
.resultsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto;
  align-items: center;
}

.factsDisplayWrapper {
  margin-top: 0px;
  margin-bottom: 0px;
}

section {
  background-color: pink;
  border-left: thick solid #FFB1B1;
  border-right: thick solid #FFB1B1;
  max-width: 400px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.aCatFact {
  background-color: pink;
  max-width: 400px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.catFactsHeader {
  background-color: pink;
  border-left: thick solid #FFB1B1;
  border-right: thick solid #FFB1B1;
  border-top: thick solid #FFB1B1;
  width: 400px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.theTip {
  background-color: pink;
  border-left: thick solid #FFB1B1;
  border-right: thick solid #FFB1B1;
  border-bottom: thick solid #FFB1B1;
  height: 50px;
  width: 400px;
  border-bottom-right-radius: 240px;
  border-bottom-left-radius: 240px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.details {
  display: flex;
/*  border: thin yellow solid; */
  min-width: 220px;
  justify-content: center;
}

.muzzle {
  display: flex;
  background-color: black;
  width: 400px;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.noseAndWhiskers {
  max-width: 100%;
  max-height: 80px;
}
